body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pole1, .pole3 {
    margin: 20px;
    text-align: center;
}

img {
    width: 100px;
    height: 150px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
}

.score {
    background-color: green;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 5px;
    color: white;
}

.pole2 {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: aquamarine;
    padding: 5px;
}

button:hover {
    background-color: chartreuse;
}
