@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg);}
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100vh;
    background: #fff;
    font-family: sans-serif;
}

.pole1, .pole3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    color: #000;
    font-weight: bold;
    text-align: center;
}

.score {
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    font-size: 18px;
    font-weight: bold;
}

.circle {
    margin-top: 10px;
    width: 80px;
    height: 80px;
    background: #f1c40f;
    border: 2px solid #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.pole2 button {
    background: #2ecc71;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.pole2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.resu {
    background: linear-gradient(to top, yellow, blue);
    width: 150px;
    height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
